<!--Navigation Bar-->
<body>
  <nav>
    <ul class="topnav">
      
      <li>
        <a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
        
      </li>
      
      <li>
        <a routerLink="/courses" >Courses</a>
      </li>
      <li>
        <a routerLink="/team">About us</a>
      </li>
      
      <li class="right">
        <a routerLink="/login">Login</a>
      </li>
      <li class="right">
        <a routerLink="/register">Register</a>
      </li>
    </ul>
    
  </nav>

  
  
  <router-outlet></router-outlet>
</body>
